<template>
  <div>
    <TodoList />
  </div>
</template>
<script>
import TodoItem from "@/models/todoItem.ts";
import TodoList from "@/components/TodoList.vue";

export default {
  data: () => ({
    todoList: [],
  }),
  components: { TodoList },
  mounted() {
    this.$store.dispatch("loadTodo");
  },
};
</script>
<style>
</style>