<template>
  <div>
    <br />
    <span>Criar nova Task</span>
    <br />
    <div>
      Nome da Task: <input type="textbox" v-model="newTodoItem.task" />
      <button @click="criarTask()">Criar</button>
    </div>
  </div>
</template>


<script>
import TodoItem from "@/models/todoItem.ts";

export default {
  name: "CreateTodo",

  data: () => ({
    newTodoItem: TodoItem,
  }),
  methods: {
    criarTask() {
      this.$store.dispatch("createTask", this.newTodoItem);
      this.newTodoItem = new TodoItem(null, false);
    },
  },

  mounted() {},
};
</script>
