<template>
  <div>
    <div v-for="(item, index) in $store.state.todoList" :key="index">
      <span v-bind:style="item.done ? { color: 'green' } : { color: 'black' }">
        <input type="checkbox" v-model="item.done" @click="doneTask(item)" />
        <strong>{{ index + 1 }})</strong>{{ item.task }}
      </span>
    </div>
    <CreateTodo />
  </div>
</template>

<script>
import TodoItem from "@/models/todoItem.ts";
import CreateTodo from "@/components/CreateTodo.vue";

export default {
  name: "TodoList",
  components: { CreateTodo },

  data: () => ({
    newTodoItem: TodoItem,
  }),
  methods: {
    doneTask(todo) {
      this.$store.dispatch("makeTodoDone", todo);
    },
  },

  mounted() {},
};
</script>
